/* Classes */
.main-header{
  margin-left: 10px;
}

.buttons{
  margin-left: 0px;
}

.secondary-header{
  background-color: #E4E4E4;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 15px;
}

.container{
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 15px;
}

/* IDS */

#footer {
   clear: both;
}

/* IMAGE STUFF */

.container .row .three.columns{
display: block;
max-width: 100%;
/* margin: 0 auto; */
height: auto;
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;
}

.three{
  display: block;
    margin-top: 4px;
    padding-bottom: 10px;
    color: #4f4f4f;
    font-size: 0.9375em;
    text-decoration: none;
    text-align: center;
}

.column p {
  text-align: center;
}

.row .column p {
  text-align: center;
}

img {
   border:1px solid #021a40;
   max-width: 392px;
   cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
